html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
  color: hwb(293 70% 2%);
  text-decoration: underline;
}

header {
  background-color: rgb(255, 241, 221);
  margin: auto;
  text-align: center;
  padding: 1rem;
  border-radius: 0.3rem;
  margin: 5rem;
}

a {
  color: hwb(293 70% 2%);
  text-decoration: none;
  background-color: rgb(255, 241, 221);
  text-align: center;


  margin: 1rem auto;
  padding: 0.1rem 0.2rem 0.1rem 0.2rem;
  display: block;
  width: 9%;
  border-radius: 0.3rem;
  border: 2px solid rgb(220, 202, 178);
}

a:hover {
  background-color: rgb(233, 219, 201);
  color: hwb(0 100% 0%);
}

#myFlexbox {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
}

.box {
  background-color: rgb(220, 202, 178);
  display: flex;
  justify-content: space-around;
  align-items: center;
  
  width: 100%;
  height: 40px; 
  margin: 2rem;
  flex-wrap: nowrap;

  border-radius: 0.3rem;
  padding: 1rem;
}

#special {
  background-color: rgb(239, 137, 137);
  }


@media only screen and (min-width: 800px) {

	body {
    background-color: rgb(220, 220, 255);
  }
  .box {
    width: 10%;
    height: 40px; 
    margin: 2rem;
    flex-wrap: nowrap;
  }

}